<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibble.skedaddle.nibble">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_nibblelauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RestaurantSearchActivity" />
        <activity android:name=".activities.RestaurantActivity" />
        <activity
            android:name=".activities.BookingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            >
        </activity>
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.ViewBookingsActivity" />
        <activity android:name=".activities.SearchByFoodTypeActivity" />
        <activity android:name=".activities.SearchByLocation" />
        <activity android:name=".activities.BookingConfirmationActivity" />
        <activity android:name=".activities.ViewReviews" />
        <activity android:name=".activities.AddReview" />
        <activity android:name=".activities.MyProfile"></activity>
    </application>

</manifest>